.output-display-wrapper {
  display: inline-flex;
  flex: 1;
  padding: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.output-display-item-invalid {
  color: red;
}
